@model EfCoreRegistrationForm.Dtos.RegistrationFormDto

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h3 class="mb-5"> Registracijos požymiai</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Registracijos požymiai</th>
                <th scope="col">Reikšmė</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in @Model.QuestionAnswers)
            {
                <tr>
                    <td>
                        @question.Question
                    </td>
                    <td>
                        @Html.HiddenFor(aq => aq.RegistrationId)
                    </td>

                    <td>
                        <div class="disabled">
                            @Html.DropDownListFor(a => question.AnswerId, new SelectList(question.Question.Options), "Id", "Text");

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
